#root {
    background-color: #000000;
}

.app {
  min-height: 100vh;
  padding: 0px, 0px, 10px;
  transition: all 0.3s ease;

}

/* Light Theme */
.app.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.app.dark {
  background-color: #121212;
  color: #ffffff;
}

button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
